#where, #knownfor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

#what {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: inline-end;
    margin: 30px;
}